.pipe{
    width: 80px;
    
    position: absolute;
    bottom: 100px;
    right: -80px;
    z-index: 2;

    &.start{
        animation: pipe-animate 2s infinite linear;
    }

    @include mq('mobile', 'max'){
        width: 60px;
    }
}

@keyframes pipe-animate {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}